@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background: #0f0f0f;
  font-family: sans-serif;
}

@theme {
  --color-releet-bg: #0f0f0f;
  --color-releet-header: #111111;
  --color-releet-card: #1a1a1a;
  --color-releet-today: #151515;
}
